.c-item{
 max-height: 480px;

}
.c-img{
  height: 100%;
  object-fit: cover;
}
.footer{
  background-color:#e1b7be;
  
}

.out{
  outline:none;
}
.btn-color{
background-color: #7c4859;
color:white;
}
.pointer{
  cursor: pointer;
}
.card-btn{
  width: 15%;
 height: 50%;
}
.content {
  display: flex;
  flex-direction: column;
  align-items: center; /* Center horizontally */
  justify-content: center; /* Center vertically */
  padding: 20px; /* Add padding as needed */
}